<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @signup.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @signup.website %>
</p>

<%= link_to 'Edit', edit_signup_path(@signup) %> |
<%= link_to 'Back', signups_path %>
