
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Header Start -->
	<div id="header">
        <div class="container">
            <!-- Header Content Start -->
            <div class="header_content">
            	<h1> Rethink Customer Support. ThinkRTC.</h1>
            	<h3><font color="#fff">Integrating <b>Real Time Communication</b> In Under 15 seconds</font></h3>
                <%= form_for(@signup) do |f| %>
                    <% if @signup.errors.any? %>
                        <div id="error_explanation">
                            <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this signup from being saved:</h2>
                            <ul>
                                <% @signup.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                                <% end %>
                            </ul>
                        </div>
                        <% end %>
                        
                <div class="field" style="margin-top:10px">
                    <%= f.text_field :email, placeholder: "Email" %>
                </div>
                <div class="actions">
                    <%= f.submit "Submit", class:"btn get_started_btn"%>
                </div>
                <div class="field">
                    <%= f.text_field :website, placeholder: "Website" %>
                </div>
                <% end %>
            </div>
            <!-- Header Content End -->
        </div>
        <!--<form action="#">-->
        <!--            <input type="text" name="Email" id="d3_email" placeholder="Your Site URL" onfocus="if(this.value=='E-mail Address') this.value='';" />-->
        <!--            <button type="submit" class="btn get_started_btn">Get Started</button></button>-->
        <!--        </form>-->
        <script src="//load.sumome.com/" data-sumo-site-id="c708c6056db53ff3f7cb7645b95f3660de2bebfd8efcf9711cff9c43d1d13016" async="async"></script>
    </div>
    <!-- Header End -->

    <!-- Content Start -->
	<div class="content_wrapper">
        <div id="features_detail" class="even_div">
        	<div id="main">
                <div id="main-content">
                    <div class="main workflow">
                        <div class="content">
                                <div class="icon">
                                    <h2>30 second Integration</h2>
                                    <p>Have the highest standard of customer support in under 30 seconds</p>
                                </div>
                                <ul id="flow-switcher" style="margin-left: 80px">
                                    <li class="active" style="margin-left: 90px"><span>Copy<br /></span></li>
                                    <li style="margin-left: 80px"><span>Paste<br /></span></li>
                                    <li style="margin-left: 80px"><span>Done</span></li>
                                    <!--<li><span>Add extra<br />seats</span></li>-->
                                    <!--<li><span>Renew a subscription</span></li>-->
                                </ul>
                            </div>

                        <div id="flow-boxes">
                            <div class="boxes active">
                                <div class="codebox-container active">
                                    <div class="codebox active">
                                        <pre>
                                            <span class="hljs-keyword">COPY</span> <span class="url">https://api.thinkrtc.com/widget/thinkrtcwidget.js</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_HFresv23sdfrtkHDTYKC4567:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">amount</span><span>=</span><span class="hljs-number">1500</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">interval</span><span>=</span><span class="hljs-string">month</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">id</span><span>=</span><span class="hljs-string">professional</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">currency</span><span>=</span><span class="hljs-string">usd</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">name</span><span>=</span><span class="hljs-string">"professional"</span>
                                        </pre></img>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">PASTE</span> <span class="url">https://api.thinkrtc.com/widget/thinkrtcwidget.js<span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_HFresv23sdfrtkHDTYKC4567:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-string">"description=Customer for demo@yoursite.com"</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">card</span><span>=</span><span class="hljs-string">pixx_IrrKegI23sasdfdfYBHdfryKLK5</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">DONE</span> <span class="url">https://api.thinkrtc.com/widget/thinkrtcwidget.js</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_jnsdiGNCDssk;l6787kmklgf:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span>
                                        </pre>
                                    </div>

                                    <div class="codebox hiddenRight">
                                        <pre>
                                            <span class="hljs-keyword">curl</span> <span class="url">https://api.pixxett.com/v1/subscriptions/sdfsdfmfbITPzBUijjX</span> <span>\</span>
                                            <span>-u</span> <span class="hljs-string">px_jnsdiGNCDssk;l6787kmklgf:</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">plan</span><span>=</span><span class="hljs-string">premium</span> <span>\</span>
                                            <span>-d</span> <span class="hljs-symbol">quantity</span><span>=</span><span class="hljs-number">20</span>
                                        </pre>
                                    </div>
                                </div>

                                <div class="text-container">
                                    <div class="text three-lines active">
                                        <h3>Sign up</h3>
                                        <p>Signing up takes less than 10 seconds. Just give us your website URL, email, and a password.</p>
                                    </div>
                                    <div class="text four-lines hiddenRight">
                                        <h3>Copy & paste your site code into the < head > of your HTML.</h3>
                                        <p>
                                            Paste the script code into the < head > of your html file (usually index.html). <br><br>If you need help with this, book an appointment! <3
                                        </p>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="end" id="automatic-renewals">
                                <div class="text three-lines">
                                    <h3>You're Done!</h3>
                                    <p>That's it! You're good to go! Go to your website and log into the widget and watch your customers realize how much you truly care!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<hr>
        <!-- Feature Start -->
        <div id="features">
        	<!-- Article1 Start -->
            <div id="easysetup">
                <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                    <img class="img-responsive" alt="Easy Setup" src="https://s21.postimg.org/bazrbxpp3/installation.png" style="box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px 0px, rgba(0, 0, 0, 0.56) 0px 6px 20px 0px"/>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box">
                    <h3>Think, Real Time Communication</h3>
                    <p>As more and more consumers move online, businesses are finding innoavative ways to provide immediate assitance, advice, and support in a more personal way. </p>
                    <p>Real time communication allows online businesses to provide immediate assitance and support. Coupled with no installation required video and screen sharing, your customers will thank you for providing the best support possible.</p>
                </div>
            </div>
            <!-- Article1 End -->
<hr>
            <!-- Article2 Start -->
            <div id="intelligent">
                <div class="desk_view">
                    <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                        <h3>Instant Screen Sharing & Videochat</h3>
                        <p>Give website administrators real-time video and screen sharing access to their customers, allowing them to quickly and effectively assess the customer’s needs. On average, customer problems are resolved 65% faster using thinkRTC's platform.</p>
                        <p>Help consumers make more informed purchase decisions through live interaction, greatly increasing customer satisfaction and increasing retention rate.</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                        <img class="img-responsive" alt="Intelligent proposals" src="https://s14.postimg.org/ewvz0x4zl/admin_chatscreenshare.png" style="box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px 0px, rgba(0, 0, 0, 0.56) 0px 6px 20px 0px" />
                    </div>
                </div>
                
                <div class="mob_view">
                    <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                        <img class="img-responsive" alt="Intelligent proposals" src="https://s14.postimg.org/ewvz0x4zl/admin_chatscreenshare.png" style="box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px 0px, rgba(0, 0, 0, 0.56) 0px 6px 20px 0px"/>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                        <h3>Instant Screen Sharing & Videochat</h3>
                        <p>Give website administrators real-time video and screen sharing access to their customers, allowing them to quickly and effectively assess the customer’s needs. On average, customer problems are resolved 65% faster using thinkRTC's platform.</p>
                        <p>Help consumers make more informed purchase decisions through live interaction, greatly increasing customer satisfaction and increasing retention rate.</p>
                    </div>
                </div>
            </div>
            <!-- Article2 End -->
<hr>
            <!-- Article3 Start -->
            <div id="engage">
                <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                    <img class="img-responsive" alt="Engage &amp; re-engage" src="https://s16.postimg.org/awon2qawl/e7419be8_bf3b_4c06_9e5c_5bcdff2ecfb8.jpg" style="box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px 0px, rgba(0, 0, 0, 0.56) 0px 6px 20px 0px; width: 50%; height: 50%; margin-left: 20%"/>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                    <h3>Assign & Respond Anywhere</h3>
                    <p>Provide instant support to your customers using the ThinkRTC Mobile App. Chat, video, and screen share instantly to provide the fastest and conveneint support possible.</p>
                    <p>Assign specific customer support requests to your partners. This will streamline the process of making sure your customers are talking with the correct represenative.</p>
                </div>
            </div>
            <!-- Article3 End -->
<hr>
            <!-- Article4 Start -->
            <div id="intelligent">
                <div class="desk_view">
                    <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                        <h3>Schedule Better</h3>
                        <p>Doing online demos, product demonstration, and online support just got better!</p>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                        <img class="img-responsive" alt="Intelligent proposals" src="https://s22.postimg.org/iozwtqs35/scheduling.png" style="box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px 0px, rgba(0, 0, 0, 0.56) 0px 6px 20px 0px"/>
                    </div>
                </div>
                
                <div class="mob_view">
                    <div class="col-md-6 col-sm-12 col-xs-12 half_img_box">
                        <img class="img-responsive" alt="Intelligent proposals" src="https://s22.postimg.org/iozwtqs35/scheduling.png" style="box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 16px 0px, rgba(0, 0, 0, 0.56) 0px 6px 20px 0px"/>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 half_txt_box1">
                        <h3>Schdule Better</h3>
                        <p>Doing online demos, product demonstration, and online support just got better!</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- Article4 End -->
        </div>
        <!-- Feature End -->
<hr>
        <!-- Pricing Start -->
        <div id="pricing" class="even_div">
        	<div class="container">
            	<h2 style="margin-bottom: 50px"><font color="#333c4e">Select your Plan</font></h2>
                <!-- Package Wrapp Start -->
                <div class='wrapper' style="margin-left: 35px">
                    <div class='package' style="margin-right: 80px; margin-bottom: 30px">
                        <div class='name'>Basic</div>
                        <strike><div class='price'>$9</div></strike>
                        <!--<div class='trial'>Free 30 day trial</div>-->
                        <div class='trial'>Free for BETA</div>
                        <hr>
                        <ul>
                            <li>
                                <strong> Limited</strong> chat
                            </li>
                            <br><br>
                            <li>
                                <strong> Limited</strong> Video chat
                            </li>
                            <br><br>
                            <li>
                                Up to <strong>4</strong> team members
                            </li>
                        </ul>
                    </div>
                    <div class='package brilliant' style="margin-right: 80px; margin-bottom: 30px">
                        <div class='name'>Premium</div>
                        <strike><div class='price'>$49</div></strike>
                        <div class='trial'>Free for BETA</div>
                        <hr>
                        <ul>
                            <li>
                                <strong> Everything in Basic</strong> plus
                            </li>
                            <br>
                            <li>
                                <strong> Limited</strong> screensharing
                            </li>
                            <br>
                            <li>
                                <strong> Assign</strong> workstation
                            </li>
                            <br>
                            <li>
                                <strong> Customize</strong> surveys
                            </li>
                            <br>
                            <li>
                                Up to <strong>10</strong> team members
                            </li>
                        </ul>
                    </div>
                    <div class='package'>
                        <div class='name'>Enterprise</div>
                        <br>
                        <div class='trial'>Coming Soon</div>
                        <hr>
                        <ul>
                            <li>
                                <strong> Everything in Premium</strong> plus
                            </li>
                            <br>
                            <li>
                                <strong> Full</strong> analytics
                            </li>
                            <br>
                            <li>
                                <strong> Premium</strong> support
                            </li>
                            <br>
                            <li>
                                <strong> Unlimited</strong> team members
                            </li>
                            <br>
                            <li>
                                <strong> Unlimited</strong> chat/video chat
                            </li>
                            <br>
                            <li>
                                <strong> Unlimited</strong> screensharing
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Package Wrapp End -->
            </div>
        </div>
        <!-- Pricing End -->

      

        
        <!-- Footer Start -->
        <div id="footer">
        	<div class="container">
            	<div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 coppyright"> Built with love by the ThinkRTC Team </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

	<script type="text/javascript">
        startFlowSwitcher();
    </script>
    <style>/*
 * Developer: Alireza Eskandarpour Shoferi
 * Designer: Wouter de Bres (dribbble.com/wdeb)
 *
 * Distributed under the terms of the MIT license
 * http://opensource.org/licenses/MIT
 */

.package {
  box-sizing: border-box;
  width: 301px;
  height: 380px;
  border: 3px solid #e8e8e8;
  border-radius: 7px;
  display: inline-block;
  padding: 24px;
  text-align: center;
  float: left;
  -webkit-transition: margin-top 0.5s linear;
  transition: margin-top 0.5s linear;
  position: relative;
  margin-right: 11px;
}
.package:hover {
  margin-top: -30px;
  -webkit-transition: margin-top 0.3s linear;
  transition: margin-top 0.3s linear;
}
.name {
  color: #565656;
  font-weight: 300;
  font-size: 3rem;
  margin-top: -5px;
}
.price {
  margin-top: 7px;
  font-weight: bold;
}
.price::after {
  content: " / month";
  font-weight: normal;
}
hr {
  background-color: #dedede;
  border: none;
  height: 1px;
}
.trial {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2px 21px 2px 21px;
  color: #33c4b6;
  border: 1px solid #e4e4e4;
  display: inline-block;
  border-radius: 15px;
  background-color: white;
  position: relative;
  bottom: -20px;
}
ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-top: 29px;
}
li {
  margin-bottom: 15px;
}
.checkIcon {
  font-family: "FontAwesome";
  content: "\f00c";
}
li::before {
  font-family: "FontAwesome";
  content: "\f00c";
  font-size: 1.3rem;
  color: #33c4b6;
  margin-right: 3px;
}
.brilliant {
  border-color: #33c4b6;
}
/* Triangle */
.brilliant::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #3bc6b8 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
}
.brilliant::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  text-shadow: 0 0 2px #37c5b6;
  font-size: 1.4rem;
}
</style>
